{% extends "my_account/my_account.html" %}

{% block breadcrumbs_l3 %} <a href="{% url job_errors %}">Job Errors</a> &gt;&gt; {%block breadcrumbs_l4%}{%endblock%}{%endblock%}

{% block body %}
{% if error_count == 0 %}


<p>Good news! There are currently no jobs with errors on the system.

{% else %}

<p>You currently have <b>{{error_count}}</b> job{%if error_count > 1%}s{%endif%} with errors. Click on a job to see more information.
<p>
<table class="jobtable">
    <tr>
        <th>Job name</th>
        <th>Job type</th>
        <th>Runs</th>
        <th>Number of condor jobs</th>
        <th>Start time</th>
    </tr>
    {% for job, condor_jobs in jobs %}

    <tr>
        <td><a href="{% url job_details job.name %}">{{job.name}}</a></td>
        <td>{{job.get_job_type_display}}</td>
        <td>{% if job.runs != None %}{{job.runs}}{% endif %}</td>
        <td>{{condor_jobs|length}}</td>
        <td>{{job.submission_time}}</td>
    </tr>
    {% endfor %}
    
</table>

{% endif %}

{% endblock %}
