{% extends "my_account/my_account.html" %}

{% block breadcrumbs_l3 %} Job Details &gt;&gt; <a href="http://{{request.get_host}}/my_account/jobs/details/{{job.name}}/">{{job.name}}</a> &gt;&gt;{%block breadcrumbs_l4%}{%endblock%}{%endblock%}

{% block body %}

{% if job.status == 'C' %}
This job has completed.
<ul class="job_details">
    <li><b><a href="http://{{request.get_host}}/my_account/jobs/details/{{job.name}}/output/">View</a></b> the results</li>
    <li><b><a href="http://{{request.get_host}}/my_account/jobs/details/{{job.name}}/save/">Download</a></b> the results</li>
    <li><b><a href="http://{{request.get_host}}/my_account/jobs/details/{{job.name}}/download/">Download</a></b> the directory containing the output files</li>
</ul>
{% endif %}

<div class="review">
    <table>
        <tr><th>Job name:</th><td>{{job.name}}</td></tr>
        <tr><th>Job type:</th><td><b>{{job.get_job_type_display}}</b>
        {% if job.job_type == 'SO' %}
        <br><b><em>Sensitivities object:</em></b> {{model.get_sensitivities_object}}
        <br><b><em>Optimization algorithm:</em></b> {{model.get_optimization_method}}
        {% endif %}
        {% if job.job_type == 'SS' %}
        <br><b><em>Time course method:</em></b> {{model.get_timecourse_method}}
        <br><b><em>Repeats:</em></b> {{job.runs}}
        {% endif %}
        </td></tr>
        <tr><th>Filename</th><td>{{job.model_name}}</td></tr>
        <tr><th>Status:</th><td>{{job.get_status_display}}</td></tr>
        <tr><th>Condor status:</td><td><b>Total: {{total_condor_jobs}} jobs</b>
                                     <br>Running: <b>{{running_condor_jobs}}</b>
                                     <br>Idle: <b>{{idle_condor_jobs}}</b>
                                     <br>Held: <b>{{held_condor_jobs}}</b>
                                     <br>Finished: <b>{{finished_condor_jobs}}</b></td>
        <tr><th>Submission time:</th><td>{{job.submission_time}}</td></tr>
        {% if job.status == 'C' %}
        <tr><th>Finish time:</th><td>{{job.finish_time}}</td></tr>
        {% endif %}
    </table>
</div>
<p>Note: this information is updated every 2 minutes TODO:link to settings.
{% endblock %}
