{% extends "my_account/my_account.html" %}

{% block breadcrumbs_l3 %}
{% if job.status == 'C' %}
<a href="{% url completed_jobs %}">Completed Jobs</a> &gt;&gt;
{% endif %}
{% if job.status == 'N' or job.status == 'S' or job.status == 'W' %}
<a href="{% url running_jobs%}">New and Submitted Jobs</a> &gt;&gt;
{% endif %}
{% if job.status == 'E' %}
<a href="{% url job_errors %}">Job Errors</a> &gt;&gt;
{% endif %}

<a href="{% url job_details job.name %}">{{job.name}}</a> &gt;&gt;{%block breadcrumbs_l4%}{%endblock%}{%endblock%}

{% block body %}

{% if job.status == 'C'%}
<div class="job_complete">

<b>This job has completed.</b>
<ul class="job_details">
{% if job.job_type == 'SO' or job.job_type == 'SS' or job.job_type == 'OR' or job.job_type == 'PR' or job.job_type == 'OD' %}
    <li><b><a href="{% url job_output job.name %}">View</a></b> the results</li>
{% endif %}

{% if job.job_type != 'RW' %}
    <li><b><a href="{% url job_save job.name %}">Download</a></b> the results</li>
{% endif %}
{% if job.job_type == 'PR' and auto_model_download %}
    <li><b><a href="{% url pr_best_results_download job.name %}">Download</a></b> a copy of the model with the best set of parameter values</li>
{% endif %}
    <li><b><a href="{% url job_download job.name %}">Download</a></b> the directory containing the output files as a <b><tt>.tar.bz2</tt></b> file.</li>
</ul>
<p>To open <b><tt>tar.bz2</tt></b> files in Windows, you may need to install additional software, such as <a href="http://www.7-zip.org/" target="_blank">7-zip</a>.</p>
</div>
{% endif %}

{% if job.status == 'E' %}
<div class="job_error">

<b>An error has occurred while processing this job</b>
{%if total_condor_jobs > 0 %}
<p>The logs show that at least one job was submitted to the Condor system. You may find it helpful to download the results directory, and examine the Condor log files (<b><tt>*.log</tt></b>), and COPASI output (<b><tt>*.out</tt></b>) and error (<b><tt>*.err</tt></b>) files to determine the cause of the failure.
<p>You may also be able to recover any raw, unprocessed results.

{% else %}

<p>The logs show that no jobs were submitted to the Condor system. The most likely cause for this error is a malformed COPASI <b><tt>.cps</tt></b> file. Ensure that all the recommended guidelines have been followed while setting up the file, including using specified version of COPASI.
{% endif %}

<ul class="job_details">
    <li><b><a href="{% url job_download job.name %}">Download</a></b> the directory containing the output files as a <b><tt>.tar.bz2</tt></b> file.</li>
</ul>
<p>To open <b><tt>tar.bz2</tt></b> files in Windows, you may need to install additional software, such as <a href="http://www.7-zip.org/" target="_blank">7-zip</a>.</p>
</div>
{% endif %}

<div class="review">
    <table>
        <tr><th>Job name:</th><td>{{job.name}}</td></tr>
        <tr><th>Job type:</th><td><b>{{job.get_job_type_display}}</b>
        {% if job.job_type == 'SO' %}
        <br><b><em>Sensitivities object:</em></b> {{model.get_sensitivities_object}}
        <br><b><em>Optimization algorithm:</em></b> {{model.get_optimization_method}}
        {% endif %}
        {% if job.job_type == 'SS' %}
        <br><b><em>Time course method:</em></b> {{model.get_timecourse_method}}
        {% endif %}
        {% if job.job_type == 'SS' or job.job_type == 'OR' %}
        <br><b><em>Repeats:</em></b> {{job.runs}}
        {% endif %}
        </td></tr>
        <tr><th>Filename</th><td>{{job.model_name}}</td></tr>
        <tr><th>Status:</th><td>{{job.get_status_display}}</td></tr>
        <tr><th>Condor status:</td><td><b>Total: {{total_condor_jobs}} jobs</b>
                                     <br>Running: <b>{{running_condor_jobs}}</b>
                                     <br>Idle: <b>{{idle_condor_jobs}}</b>
                                     <br>Held: <b>{{held_condor_jobs}}</b>
                                     <br>Finished: <b>{{finished_condor_jobs}}</b></td>
        <tr><th>Submission time:</th><td>{{job.submission_time}}</td></tr>
        {% if job.finish_time != None %}
        <tr><th>Finish time:</th><td>{{job.finish_time}}</td></tr>
        <tr><th>Total CPU time used:</th><td>{{total_cpu_time}}</td></tr>
        {% endif %}
    </table>
</div>

<div class="job_remove">
<p><b>Job Removal</b></p>
{% if job_removal_days > 0 and job.finish_time != None %}
All jobs are stored on the system for <b>{{job_removal_days}} day{%if job_removal_days > 1 %}s{%endif%}</b>, after which they are automatically removed, along with any saved results.</p>
<p>This job will be removed in <b>{{job_removal_date|timeuntil}} ({{job_removal_date}})</b>.</p>
<p>Alternatively, you can remove the job now:</p>

{% else %}

{% if job_removal_days == 0 and job.finish_time != None %}
<p>Click the button below to remove this job from the system:</p>

{% else %}
<p>This job is still running. However, if you wish, you may cancel any associated condor jobs, and remove it from the system. To do this, click the button below: </p>

{% endif %}
{% endif %}


<form action="{% url job_remove job.name %}" method="get">
    <input type="submit" value="Remove">
</form>

</div>

{% if job.status != 'C' %}
<p>This information was last updated <b>{{job.last_update|timesince}}</b> ago. </p>
{% endif %}
{% endblock %}
