{% extends "my_account/job_details.html" %}


{% block breadcrumbs_l4 %} <a href="http://{{request.get_host}}/my_account/jobs/details/{{job.name}}/output/">Output</a> &gt;&gt;{%block breadcrumbs_l5%}{%endblock%}{%endblock%}

{% block body %}

{% if job.job_type == 'SO' %}
<div class = "review">
    <p><h3>Sensitivities calculated against parameter: <b>{{model.get_sensitivities_object}}</b></h3></p>
    <table>
        <tr><th>Parameter</th><th>Minimum value</th><th>Maximum value</th><th>Min CPU time</th><th>Min evals</th><th>Max CPU time</th><th>Max Evals</th></tr>
        {% for result in results %}
        <tr>
            <td><b>{{result.name}}</b></td>
            <td>{{result.min_result}}</td>
            <td>{{result.max_result}}</td>
            <td>{{result.min_cpu}}</td>
            <td>{{result.min_evals}}</td>
            <td>{{result.max_cpu}}</td>
            <td>{{result.max_evals}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% if job.job_type == 'SS' %}
<div class = "plot">
<img src="http://{{request.get_host}}/my_account/jobs/details/{{job.name}}/save/plot.png{{img_string}}" alt="Plot" />
<br>
<form action="http://{{request.get_host}}/my_account/jobs/details/{{job.name}}/save/plot.png{{img_string}}" method="post">
{% csrf_token %}
<input type="submit" name="download_png" value="Download in .PNG Format">
<input type="submit" name="download_svg" value="Download in .SVG Format">
<input type="submit" name="download_eps" value="Download in .EPS Format">
</form>
</div>

<form action="" method="get">
<input type="hidden" name="custom" value="true">
<table class="formtable">
{{form.as_table}}
</table>
<input type="submit" value="Update plot">
</form>
{% endif %}
{% if job.job_type == 'OR' %}
<div class = "review">
    <p><h3>Best value found for optimization task: <b>{{best_value}}</b></h3></p>
    <table>
        <tr><th>Parameter</th><th>Value</th></tr>
        {% for parameter in parameters %}
        <tr>
            <td><b>{{parameter.0}}</b></td>
            <td>{{parameter.1}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}

{% endblock %}
