{% extends "default.html" %}

{% block breadcrumbs_l2 %} <a href="http://{{request.get_host}}/my_account/">My Account</a> &gt;&gt; {% block breadcrumbs_l3 %}{%endblock%}{%endblock%}

{% block accountlist %}
<ul>
    <li><a href="http://{{request.get_host}}/my_account/jobs/running">Running Jobs <b>({{submitted_job_count}})</b></a></li>
    <li><a href="http://{{request.get_host}}/my_account/jobs/completed">Completed Jobs <b>({{completed_job_count}})</b></a></li>
    <li><a href="http://{{request.get_host}}/my_account/jobs/errors">Errors <b>({{error_count}})</b></a></li>
    <li>Account settings</li>
</ul>
{% endblock %}

{%block body %}

<p>Account information to go here


{%endblock%}
