{% extends "my_account/my_account.html" %}

{% block breadcrumbs_l3 %} <a href="{% url running_jobs %}">Running Jobs</a> &gt;&gt; {%block breadcrumbs_l4%}{%endblock%}{%endblock%}

{% block body %}

{% if submitted_job_count == 0 %}
You currently have no jobs running on the system. Once jobs have finished running, they can be viewed in the Completed Jobs section of your account.

{% else %}

<p>You currently have <b>{{submitted_job_count}}</b> running job{%if submitted_job_count > 1%}s{%endif%}. Click on a job to see more information.
<p>
<table class="jobtable">
    <tr>
        <th>Job name</th>
        <th>Job type</th>
        <th>Runs</th>
        <th>Number of condor jobs</th>
        <th>Start time</th>
    </tr>
    {% for job, condor_jobs in jobs %}

    <tr>
        <td><a href="{% url job_details job.name %}">{{job.name}}</a></td>
        <td>{{job.get_job_type_display}}</td>
        <td>{% if job.runs != None %}{{job.runs}}{% endif %}</td>
        <td>{{condor_jobs|length}}</td>
        <td>{{job.submission_time}}</td>
    </tr>
    {% endfor %}
    
</table>

{% endif %}

{% endblock %}
