{% extends "tasks/tasks.html" %}
{% block head %}
{% if type == 'OD' %}
<script type="text/javascript">
function toggle(classname, box) { 
    var vis = (box.checked) ? "block" : "none";
    
    element = document.getElementById(classname);
    element.style.display = box.checked? "block":"none" ;
        
}

function initialhide(){
    {% for algorithm in algorithms %}
        var box = document.getElementById('id_{{algorithm.prefix}}-enabled')
        toggle('{{algorithm.prefix}}', box)
    {% endfor %}
}

function selectall(select){
    {% for algorithm in algorithms %}
        var box = document.getElementById('id_{{algorithm.prefix}}-enabled');        
        if (box.checked != select){
            box.checked = select
            toggle('{{algorithm.prefix}}', box)
        }
    {% endfor %}
}
</script>

{% endif %}
{% endblock %}

{% block bodyattrs %}
{% if type == 'OD' %}
 onload="initialhide()"
{% endif %}
{%endblock%}

{% block breadcrumbs_l3 %}
{% if type == "SO" %} 
<a href="{% url new_SO %}">Sensitivity Optimization</a>
{%endif%}
{% if type == "SS" %}
<a href="{% url new_SS %}">Stochastic Simulation</a>
{% endif %}
{% if type == "PS" %}
<a href="{% url new_PS %}">Parallel Scan</a>
{% endif %}
{% if type == "OR" %}
<a href="{% url new_OR %}">Optimization Repeat</a>
{% endif %}
{% if type == "PR" %}
<a href="{% url new_PR %}">Parameter Estimation Repeat</a>
{% endif %}
{% if type == "OD" %}
<a href="{% url new_OD %}">Optimization Repeat with Different Algorithms</a>
{% endif %}
{% if type == "SP" %}
<a href="{% url new_SP %}">Sigma Point Method</a>
{% endif %}
{% if type == "RW" %}
<a href="{% url new_RW %}">Raw Mode</a>
{% endif %}
&gt;&gt; {%block breadcrumbs_l4%}{%endblock%}{%endblock%}

{% block body %}

<p> Select the COPASI model to submit. Before submitting, ensure the model has been correctly configured:
    {% if type == 'SO' %}
    
    <ul class="job_details">
        <li><b>Optimization task:</b></li>
        <ul>
            <li>At least one variable parameter must have been added to the Optimization task</li>
        </ul>
        <li><b>Sensitivites task:</b></li>
        <ul>
            <li>A single object variable must be selected for the Sensitvities task</li>
        </ul> 
    </ul>
    Condor-COPASI will automatically generate the appropriate report; no reports need to be set for any tasks.
    {% endif %}
    
    {% if type == 'PS' %}
    <ul class="job_details">
        <li><b>Scan task:</b></li>
        <ul>
            <li>The Scan task should be configured as if the run were to take place on a single machine</li>
            <li>At least one repeat or parameter scan must be added to the Scan task</li>
            <li>An appropriate report must be set for the Scan task</li>
        </ul>
    </ul>
    Condor-COPASI will automatically split the Scan task into smaller tasks, and execute them in parallel. Note that, where nested scans have been set, only the first-level scan will be split; therefore, where possible, ensure that the top-level scan contains the largest number of intervals.
    {% endif %}
    
    {% if type == 'OR' %}
    <ul class="job_details">
        <li><b>Optimization task:</b></li>
        <ul>
        <li>At least one variable parameter must have been added to the optimization task</li>
        <li>A valid objective expression must have been set</li>
        </ul>
    </ul>
    Condor-COPASI will automatically generate an appropriate report; no report needs to be set for the Optimization task.
    {% endif %}
    
    {% if type == 'PR' %}
    <ul class="job_details">
        <li><b>Parameter Estimation task</b></li>
        <ul>
        <li>At least one variable parameter must have been added to the Parameter Estimation task</li>
        <li>Any experimental data files must have been selected and configured</li>
        <li>Note, all experimental data files must be placed in the same directory as the model <tt>.CPS</tt> file prior to setting up the Parameter Estimation task</li>
        </ul>
    </ul>
    Condor-COPASI will automatically generate an appropriate report; no report needs to be set for the Parameter Estimation task.
    {% endif %}
    
    {% if type == 'SS' %}
    <ul class="job_details">
        <li><b>Time Course task:</b></li>
        <ul>
        <li>The Time Course should be set up as if a single run were to take place on the local machine</li>
        <li>An appropriate stochastic method must be selected</li>
        </ul>
    </ul>
    Condor-COPASI will automatically generate an appropriate report; no report needs to be set for the Time Course task.
    {% endif %}
    
    {% if type == 'OD' %}
    <ul class="job_details">
        <li><b>Optimization task:</b></li>
        <ul>
        <li>At least one variable parameter must have been added to the optimization task</li>
        <li>A valid objective expression must have been set</li>
        </ul>
    </ul>
    Condor-COPASI will automatically generate an appropriate report; no report needs to be set for the Optimization task.
    {% endif %}

    {% if type == 'SP' %}
    <ul class="job_details">
        <li><b>Sigma Point Method</b></li>
        <ul>
        <li>At least one variable parameter must have been added to the Parameter Estimation task in the .CPS file</li>
        <li>Any experimental data files must have been selected and configured</li>
        <li>Note, all experimental data files must be placed in the same directory as the model <tt>.CPS</tt> file prior to setting up the Sigma Point Method</li>
        <li>Any experimental data files must have been selected and configured as a <tt>.TXT</tt> or <tt>.DAT</tt> with one line as a header.</li>
        <li>For systems with many parameters, the default values for the scaling factors are recommended.  For more information, see 'Optimal Experimental Design with the Sigma Point Method' [Schenkendorf 2009].</li>
        </ul>
    </ul>
    Condor-COPASI will automatically generate an appropriate report; no report needs to be set for the sigma point method.
    {% endif %}
    
    {% if type == 'RW' %}
    <ul class="job_details">
        <li><b>Raw Mode:</b></li>
        <ul>
        <li>You must prepare the model file so that at least one task is marked as executable with a report output selected</li>
        <li>Report output filenames will be appended with the zero-indexed repeat number.
        <li>One repeat of the executable task(s) will run for each parallel job</li>
        <li>Output files are not processed by Condor-COPASI</li>
        <li>Customised arguments passed to the CopasiSE binary can also be specified</li>
        </ul>
    </ul>
    Task reports will not be automatically generated - you must ensure that any executable tasks have a report type and output filename specified.
    {% endif %}
</p>


<p><b>Please note - it is very important that the COPASI file is saved using a supported version of COPASI. At present, only Build 33 (version 4.6.33), Build 34 (version 4.7.34), Build 35 (version 4.8.35) and build 45 (version 4.9.45) are supported.</b></p>

{% if file_error %}
<div class="error">
There was a problem with the file you submitted. Please ensure the guidelines above have been followed.
<ul><li>{{file_error}}</li></ul></div>
{% endif %}

{% if error %}
<div class="error">
There was an error with the form below:
<ul><li>{{error}}</li></ul>
</div>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table class="formtable">
{{ form.as_table }}
</table>

<p>
{% if type == 'OD' %}
<input type="button" name="select_all_button" value="Select All" onclick="selectall(true);"> <input type="button" name="deselect_all_button" value="Deselect All" onclick="selectall(false);">
{%for algorithm in algorithms %}
<div class="algorithm">
<table class = "formtable" id="{{algorithm.prefix}}">
    <h3>{{algorithm.name}}</h3>

    {% for field in algorithm.form_instance %}
    
    {% if forloop.first%} 
    <b>{{field.label_tag}}</b>: {{field}}
    {% else %}
    <tr>
        {{ field.errors }}
        <th> {{ field.label_tag }} </th>
        <td> {{ field }} </tr>
    </tr>
    {%endif %}
    {% endfor %}
    </div>
</table>
</div>
<br>
{% endfor %}

{%endif%}
<input type="submit" value="Submit">
</form>

{% endblock %}
