{% extends "tasks/tasks.html" %}
{% block head %}
{% if type == 'OD' %}
<script type="text/javascript">
function toggle(classname, box) { 
    var vis = (box.checked) ? "block" : "none";
    
    element = document.getElementById(classname);
    element.style.display = box.checked? "block":"none" ;
        
}

function initialhide(){
    {% for algorithm in algorithms %}
        var box = document.getElementById('id_{{algorithm.prefix}}-enabled')
        toggle('{{algorithm.prefix}}', box)
    {% endfor %}
}

function selectall(select){
    {% for algorithm in algorithms %}
        var box = document.getElementById('id_{{algorithm.prefix}}-enabled');        
        if (box.checked != select){
            box.checked = select
            toggle('{{algorithm.prefix}}', box)
        }
    {% endfor %}
}
</script>

{% endif %}
{% endblock %}

{% block bodyattrs %}
{% if type == 'OD' %}
 onload="initialhide()"
{% endif %}
{%endblock%}

{% block breadcrumbs_l3 %}
{% if type == "SO" %} 
<a href="http://{{request.get_host}}/tasks/new/sensitivity_optimization">Sensitivity Optimization</a>
{%endif%}
{% if type == "SS" %}
<a href="http://{{request.get_host}}/tasks/new/stochastic_simulation">Stochastic Simulation</a>
{% endif %}
{% if type == "PS" %}
<a href="http://{{request.get_host}}/tasks/new/parallel_scan">Parallel Scan</a>
{% endif %}
{% if type == "OR" %}
<a href="http://{{request.get_host}}/tasks/new/optimization_repeat">Optimization Repeat</a>
{% endif %}
{% if type == "PR" %}
<a href="http://{{request.get_host}}/tasks/new/parameter_estimation_repeat">Parameter Estimation Repeat</a>
{% endif %}
{% if type == "OD" %}
<a href="http://{{request.get_host}}/tasks/new/optimization_repeat_different_algorithms">Optimization Repeat with Different Algorithms</a>
{% endif %}
&gt;&gt; {%block breadcrumbs_l4%}{%endblock%}{%endblock%}

{% block body %}

<p> Select the Copasi model to submit. Before submitting, ensure the model has been correctly configured:
    {% if type == 'SO' %}
    
    <ul class="job_details">
        <li><b>Optimization task:</b></li>
        <ul>
            <li>At least one variable parameter must have been added to the Optimization task</li>
        </ul>
        <li><b>Sensitivites task:</b></li>
        <ul>
            <li>A single object variable must be selected for the Sensitvities task</li>
        </ul> 
    </ul>
    Condor-Copasi will automatically generate the appropriate report; no reports need to be set for any tasks.
    {% endif %}
    
    {% if type == 'PS' %}
    <ul class="job_details">
        <li><b>Scan task:</b></li>
        <ul>
            <li>The Scan task should be configured as if the run were to take place on a single machine</li>
            <li>An appropriate report must be set for the Scan task</li>
        </ul>
    </ul>
    Condor-Copasi will automatically split the Scan task into smaller tasks, and execute them in parallel. Note that, where nested scans have been set, only the first-level scan will be split; therefore, where possible, ensure that the top-level scan contains the largest number of intervals.
    {% endif %}
    
    {% if type == 'OR' %}
    <ul class="job_details">
        <li><b>Optimization task:</b></li>
        <ul>
        <li>At least one variable parameter must have been added to the optimization task</li>
        <li>A valid objective expression must have been set</li>
        </ul>
    </ul>
    Condor-Copasi will automatically generate an appropriate report; no report needs to be set for the Optimization task.
    {% endif %}
    
    {% if type == 'PR' %}
    <ul class="job_details">
        <li><b>Parameter Estimation task</b></li>
        <ul>
        <li>At least one variable parameter must have been added to the Parameter Estimation task</li>
        <li>Any experimental data files must have been selected and configured</li>
        <li>Note, all experimental data files must be placed in the same directory as the model <tt>.CPS</tt> file prior to setting up the Parameter Estimation task</li>
        </ul>
    </ul>
    Condor-Copasi will automatically generate an appropriate report; no report needs to be set for the Parameter Estimation task.
    {% endif %}
    
    {% if type == 'SS' %}
    <ul class="job_details">
        <li><b>Time Course task:</b></li>
        <ul>
        <li>The Time Course should be set up as if a single run were to take place on the local machine</li>
        <li>An appropriate stochastic method must be selected</li>
        </ul>
    </ul>
    Condor-Copasi will automatically generate an appropriate report; no report needs to be set for the Time Course task.
    {% endif %}
    
    {% if type == 'OD' %}
    <ul class="job_details">
        <li><b>Optimization task:</b></li>
        <ul>
        <li>At least one variable parameter must have been added to the optimization task</li>
        <li>A valid objective expression must have been set</li>
        </ul>
    </ul>
    Condor-Copasi will automatically generate an appropriate report; no report needs to be set for the Optimization task.
    {% endif %}
</p>


<p><b>Please note - it is very important that the Copasi file is saved using a supported version of Copasi. At present, only Build 33 (version 4.6.33) and Build 34 (version 4.6.34) are supported.</b></p>
{% if file_error %}
<div class="error">
There was a problem with the file you submitted. Please ensure the guidelines above have been followed.
<ul><li>{{file_error}}</li></ul></div>
{% endif %}

{% if error %}
<div class="error">
There was an error with the form below:
<ul><li>{{error}}</li></ul>
</div>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table class="formtable">
{{ form.as_table }}
</table>

<p>
{% if type == 'OD' %}
<input type="button" name="select_all_button" value="Select All" onclick="selectall(true);"> <input type="button" name="deselect_all_button" value="Deselect All" onclick="selectall(false);">
{%for algorithm in algorithms %}
<div class="algorithm">
<table class = "formtable" id="{{algorithm.prefix}}">
    <h3>{{algorithm.name}}</h3>

    {% for field in algorithm.form_instance %}
    
    {% if forloop.first%} 
    <b>{{field.label_tag}}</b>: {{field}}
    {% else %}
    <tr>
        {{ field.errors }}
        <th> {{ field.label_tag }} </th>
        <td> {{ field }} </tr>
    </tr>
    {%endif %}
    {% endfor %}
    </div>
</table>
</div>
<br>
{% endfor %}

{%endif%}
<input type="submit" value="Submit">
</form>

{% endblock %}
