{% extends "tasks/sensitivity_optimization.html" %}

{% block breadcrumbs_l4 %}
Confirm &gt;&gt;
{% endblock %}

{% block body %}
Please confirm that the details below are correct, and click 'Confirm' below to submit the job to the Condor system:

<div class="review">
<table>
{% for detail in job_details %}
<tr><th>{{detail.0}}</th><td>{{detail.1}}</td></tr>
{% endfor %}
</table>
<p>
<table>
<tr><th>Parameter</th><th>Lower bound</th><th>Upper bound</th><th>Starting value</th></tr>
{% for parameter in parameters %}
<tr><td>{{parameter.0}}</td><td>{{parameter.1}}</td><td>{{parameter.2}}</td><td>{{parameter.3}}</td></tr>
{% endfor %}
</table>
</div>

<form action="" method="post">
{% csrf_token %}
<input type="submit" value="Confirm" name="confirm_job"> <input type="submit" value="Cancel" name="cancel_job">
</form>
{% endblock %}
