{% extends "tasks/new_task.html" %}

{% block breadcrumbs_l4 %}
Confirm &gt;&gt;
{% endblock %}

{% block body %}
Please confirm that the details below are correct, and click 'Confirm' below to submit the job to the Condor system:

<div class="review">
<table>
{% for detail in job_details %}
<tr><th>{{detail.0}}</th><td>{{detail.1}}</td></tr>
{% endfor %}
</table>
<p>

</div>

<form action="" method="post">
{% csrf_token %}
<input type="submit" value="Confirm" name="confirm_job"> <input type="submit" value="Cancel" name="cancel_job">
</form>
{% endblock %}
