{% extends "default.html" %}

{% block breadcrumbs_l2 %} <a href="{% url tasks_home %}">Tasks</a> &gt;&gt; {% block breadcrumbs_l3 %}{%endblock%}{%endblock%}

{% block tasklist %}
<ul>
    <li><a href="{% url new_SO%}">Optimization of Sensitivities</a></li>
    <li><a href="{% url new_SS %}">Stochastic Simulation</a></li>
    <li><a href="{% url new_PS %}">Scan in Parallel</a></li>
    <li><a href="{% url new_OR %}">Optimization Repeat</a></li>
    <li><a href="{% url new_PR %}">Parameter Estimation Repeat</a></li>
    <li><a href="{% url new_OD %}">Optimization Repeat (Different Algorithms)</a></li>
</ul>
{% endblock %}

{%block body %}

<p>List of tasks to go here, along with task descriptions


{%endblock%}
