{% extends "default.html" %}

{% block breadcrumbs_l2 %} <a href="http://{{request.get_host}}/tasks/">Tasks</a> &gt;&gt; {% block breadcrumbs_l3 %}{%endblock%}{%endblock%}

{% block tasklist %}
<ul>
    <li><a href="http://{{request.get_host}}/tasks/new/sensitivity_optimization">Optimization of Sensitivities</a></li>
    <li><a href="http://{{request.get_host}}/tasks/new/stochastic_simulation">Stochastic Simulation</a></li>
    <li>Scan in Parallel</li>
    <li>Optimization Repeat</li>
    <li>Parameter Estimation Repeat</li>
    <li>Optimization Repeat (Different Algorithms)</li>
</ul>
{% endblock %}

{%block body %}

<p>List of tasks to go here


{%endblock%}
