body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #E6E6E6;
    min-width: 500px;
    width: 100%;
    overflow:auto;
}

form {
    background: #d8e1ff;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid gray;
}

#header a:link, #header a:visited {
    color: white;
    text-decoration: none;
}

#content a:link, #content a:visited {
    color: #2957a8;
    text-decoration: none;
    font-weight: bold;
}

#breadcrumbs a:link, #breadcrumbs a:visited {
    color: #5b80b2;
    text-decoration: none;
}

#breadcrumbs a:hover {
    color: #036;

}
h1 {
    font-size: 25px;
    font-weight: bold;
}

ul.errorlist, div.error {
/*    background: #ffffff;*/
    padding: 0.2em;
    margin: 0.5em;
/*    border: 1px solid #573ca8;*/
    color: #a52a2a
}

ul.job_details li{
    padding: 5px;
}

div.plot {
    background: white;
    padding: 5px;
    margin: 2em auto 2em auto;
    border: 1px solid gray;
    max-width: 80%;
    min-width: 960px;
}

div.review {
    background: #fcffbf;
    padding: 5px;
/*    margin: 2em auto 2em auto;*/
    border: 1px solid gray;
    margin-left: 30px;
}

div.job_complete {
    background: #e3f7cd;
    padding: 5px;
    margin: 2em auto 2em auto;
    border: 1px solid gray;
}
div.job_error {
    background: #ffe9ea;
    padding: 5px;
    margin: 2em auto 2em auto;
    border: 1px solid gray;
}
div.job_remove {
    background: #ffe9ea;
    padding: 5px;
    margin: 2em auto 2em auto;
    border: 1.5px solid red;
}
div.review table{
    border-collapse: collapse;
    border: 1px solid gray;

}
div.review th{
    font-weight: bold;
}
div.review th, div.review td{
    font-size: 12px;
    text-align: left;
    padding: 0.3em;
    border: 1px dotted gray;
}

div.algorithm{
    border: 1px solid gray;
    margin-left: 2px;
    margin-right: 20px;
    padding: 5px;
}

table.jobtable {
    border-collapse: collapse;
    background: #e6e6e6;
    border: 1px solid gray;
    font-size: 12px;
}

table.jobtable th, table.jobtable td{
    margin: 0px;
    padding: 5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
}

table.jobtable th{
    font-weight: bold;
    border: 1px solid gray;
}

div.message{
    background: #f1ecff;
    font-weight: bold;
    padding: 0.5em;
    border: 1px solid gray;
}
table.formtable{
    border-collapse: collapse;
    margin: 0px;
}

table.formtable th, table.formtable td{
    margin: 0px;
    border: 1px dotted gray;
    border-left: 0;
    border-right: 0;
    padding: 5px;
}  

table.formtable th {
    font-size: 12px;
    font-weight: bold;
    text-align:left;
}
#container {
    display: block;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}
#wrapper{
    display: block;
    margin-bottom: 20px;
}

#header {
    position: relative;
    width: 100%;
    background: #0C2D60;
    color: white;

}

#branding {
    font-size: 25px;
    float: left;
    font-weight: bold;
    margin: 3px;
}

#user_tools {
    position: absolute;
    font-size: 12px;
    float: right;
    bottom: 0;
    right: 0;
    padding: 3px;
}

#breadcrumbs {
    background: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0px 0px 0px 10px;
    font-weight: bold;
}



#sidebar {
    width: 150px;
    border: 1px solid gray;
    float: left;
    font-size: 14px;
    font-weight: bold;
    background: white;
    margin: 0 10px 10px 10px;
    padding: 0px 10px 10px 10px;
}

#sidebar a:link, #sidebar a:visited{
    color: black;
    text-decoration: none;
}
#sidebar ul{
    margin-left: 0px;
    padding-left: 20px;
    list-style-type: square;
}
#sidebar li{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#sidebar ul > ul {
    font-weight: normal;
    font-size: 12px
}
#content {
    margin: 10px 10px 10px 190px;
    padding: 10px;
    border: 1px solid gray;
    background: white;

}

#main{
    padding-bottom: 10px;
}

#footer {
    position: absolute;
    display:block;
    bottom: 0;
    background: white;
    height: 19px;
    min-width: 500px;
    width: 100%;
    border-top: 1px solid gray;
    text-align: center;
    padding-top: 3px;

    
}
div.clear {
    clear: both;
    height: 1px;
}
