{% extends "default.html" %}

{% block breadcrumbs %} Login &gt;&gt;{% endblock %}

{% block body %}

{% if request.GET.next %}
You must login to continue.
{% endif %}

{% if login_failure %}
<div class="error">
<p>Login unsuccessful - the username or password you entered is not valid. If you have forgotton your username or password, please contact the site administrator.</p>
</div>
{% endif %}

<form action="" method="post">
{% csrf_token %}
<table class="formtable">
{{ form.as_table }}
</table>
<tr><td><input type="submit" value="Submit"></td></tr>
</form>
{% endblock %}
